.footer {
    display: flex;
    margin: 30px;
    height: auto;
    bottom: 0;
    padding: 20px;
    max-width: auto;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: relative;
 
 
  }
 
  .fa {
    display: flex;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
 
  .fa:hover {
    opacity: 0.7;
  }
 
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
 
  .fa-linkedin {
    background: rgb(67, 77, 216);
  }
 
  .fa-youtube {
    background: rgb(215, 16, 16);
  }