@import url('navbar.css');
@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Signika+Negative&display=swap');

.title {
  color: bisque;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #252525;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
  max-width: auto;
}


body {
  height: 100%;
  width: auto;
  background-color: rgb(0, 0, 0);
  background-image: url("https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d29tYW4lMjBtZWRpdGF0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-container {
  display: grid;
  grid-template-columns: 10% 1fr 2fr 1fr 10%;
  grid-template-rows: 1fr 30% 1fr 50%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}
 
.post-image {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  justify-content: center;
}

.credits {
  grid-area: 3 / 3 / 4 / 4;
  color: rgb(255, 187, 105);
  text-shadow: 2px 2px 4px #0c0c0c;
  text-align: center;
}

.blog-post {
  grid-area: 4 / 2 / 5 / 5;
  color: rgb(255, 187, 105);
  text-shadow: 2px 2px 4px #0c0c0c;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15%;
  width: 100%;
  max-width: fit-content;
  height: fit-content;
}

.post-title {
  width: 100%;
  height: auto;
  max-width: auto;
  color: rgb(228, 97, 31);
  text-shadow: 2px 2px 4px rgb(12, 12, 12);
  font: 40px;
  text-align: center;
  margin-top: 10px;
  grid-area: 1 / 2 / 2 / 5;
}

figcaption {
  font-size: xx-small;
  text-align: center;
}

@media screen and (max-width: 480px) {
  body {
    width: 480px;
  }

  .nav-container {
    margin-left: 15%;
  }
  .blog-post{
    width: 95%;
    font-size: small;
  }
  .footer {
    margin-left: 20%;
  }
}

  